

// Set your colors
$link: #005cff;
$link-invert: findColorInvert($link);
$info: #FF3E00;
$info-invert: findColorInvert($info);
$entel-corp: #10069f;
$entel-corp-invert: findColorInvert($entel-corp);
$entel-secondary: #ff3d00;
$entel-secondary-invert: findColorInvert($entel-secondary);
$entel-secondary-corp: #cccccc;
$entel-secondary-corp-invert: findColorInvert($entel-secondary-corp);
$eco: #42E8B4;
$eco-invert: findColorInvert($eco);
$eco-light: #DBFAF0;
$eco-light-invert: findColorInvert($eco-light);
$smart: #2FCBF1;
$smart-invert: findColorInvert($smart);
$smart-light: #EBFAFD;
$smart-light-invert: findColorInvert($smart-light);
$positive: #FD6C9B;
$positive-invert: findColorInvert($positive);
$positive-light: #FFE2EB;
$positive-light-invert: findColorInvert($positive-light);
$mirage: #191B22;
$mirage-invert: findColorInvert($mirage);
$blackRussian: #23252C;
$blackRussian-invert: findColorInvert($blackRussian);

// Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

// Success
// $success: $eco;
// $success-invert: $eco-invert;
// $success-focus-border: $eco;

// Danger
$danger: $entel-secondary;
$danger-invert: $entel-secondary-invert;
$danger-focus-border: $entel-secondary;

// $black-ter: $mirage;
// $black-ter-invert: $mirage-invert;
// $black-ter-focus-border: $mirage;

// $dark: $blackRussian;
// $dark-invert: $blackRussian-invert;
// $dark-focus-border: $blackRussian;

$input-placeholder-color: #7a7a7a;


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "black-ter": ($black-ter, $white),
    "black-bis": ($black-bis, $light),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "link": ($link, $link-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "entel-corp": ($entel-corp, $entel-corp-invert),
    "entel-secondary": ($entel-secondary, $entel-secondary-invert),
    "entel-secondary-corp": ($entel-secondary-corp, $entel-secondary-corp-invert),
    "eco": ($eco, $eco-invert),
    "eco-light": ($eco-light, $eco-light-invert),
    "smart": ($smart, $smart-invert),
    "smart-light": ($smart-light, $smart-invert),
    "positive": ($positive, $positive-light-invert),
    "positive-light": ($positive-light, $positive-light-invert),
    "mirage": ($mirage, $mirage-invert),
    "blackRussian": ($blackRussian, $blackRussian-invert),
);

$shades: (
    "black-bis": $black-bis, 
    "black-ter": $black-ter, 
    "grey-darker": $grey-darker, 
    "grey-dark": $grey-dark, 
    "grey": $grey, 
    "grey-light": $grey-light, 
    "grey-lighter": $grey-lighter, 
    "white-ter": $white-ter, 
    "white-bis": $white-bis,
    "positive": $positive,
    "eco": $eco,
    "smart": $smart,
    "warning-light": $warning-light,
    "positive-light": $positive-light,
    "eco-light": $eco-light,
    "smart-light": $smart-light,
);

// Autocomplete
$dropdown-content-max-height: 400px !default;
.autocomplete {
    .dropdown-content {
        overflow: auto;
        max-height: $dropdown-content-max-height;
    }
}


// Background image
.hero.has-background {
	position: relative;
	overflow: hidden;
}
.hero-background {
	position: absolute;
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 100%;
}
.hero-background.is-transparent {
	opacity: 0.8;
}

// Image centered
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

// Navbar centered
.navbar-item.navbar-center {
    flex-grow: 1;
    // flex-direction: column;
    justify-content: center;
}

// font awesome size
.fa-2x {
	font-size: 1.5rem;
}
.fa-3x {
    font-size: 2rem;
}

// hidden mobile
@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
	.height-40 {
		max-width: 30px;
		margin-left: 10px;
	}
}

// transparent navbar
.navbar {
	&.is-transparent {
		background-color: transparent;
		background-image: none;
	}
}

.hero .hero-top {
    margin-top: 0px;
}

$radius-rounded: 290486px !default;

// Box gradient
.item,
.section,
.level,
.box {
    &.is-bold {
        &.is-white {
            color: #333;
            background: rgba(255,255,255,1);
            // background: linear-gradient(270deg, #eee 0%, #fff 90%, #fff 100%);
        }
        &.is-link {
            color: white;
            background: rgba(0,92,255,1);
            background: linear-gradient(270deg, rgb(7, 76, 187) 0%, rgba(0,92,255,1) 100%);
        }
        &.is-smart {
            color: white;
            background: rgb(204, 227, 255);
            background: linear-gradient(270deg, rgb(204, 227, 255) 0%, rgb(243, 247, 253) 100%);
        }
        &.is-eco {
            color: white;
            background: rgb(13,204,131);
            background: linear-gradient(270deg, rgba(0,163,99,1) 0%, rgba(13,204,131,1) 100%);
        }
        &.is-positive {
            color: white;
            background: rgb(250,225,233);
            background: linear-gradient(270deg, rgba(250,225,233,1) 0%, rgba(251,247,248,1) 100%);
        }
        &.is-info {
            color: white;
            background: rgb(207, 19, 0);
            background: linear-gradient(270deg, rgb(207, 19, 0) 0%, rgb(255, 109, 19) 100%);
        }
        &.is-calid {
            color: white;
            background: rgb(255, 241, 213);
            background: linear-gradient(270deg, rgb(255, 241, 213) 0%, rgb(252, 248, 240) 100%);
        }
        &.is-dark {
            color: white;
            background: $grey-dark;
            background: linear-gradient(270deg, $grey-dark 0%, $black-ter 100%);
        }
        &.is-danger {
            color: white;
            background: rgb(184, 1, 20);
            background: linear-gradient(270deg, rgb(184, 1, 20) 0%, rgb(244, 21, 15) 100%);
        }
        &.is-warning {
            color: white;
            background: rgb(234, 117, 8);
            background: linear-gradient(270deg, rgb(234, 117, 8) 0%, rgb(255, 191, 0) 100%);
        }
        &.is-success {
            color: white;
            background: rgb(26, 152, 113);
            background: linear-gradient(270deg, rgb(26, 152, 113) 0%, rgb(67, 232, 180) 100%);
        }
        &.is-tech {
            color: white;
            background: rgba(0,92,255,1);
            background: linear-gradient(270deg, rgb(7, 76, 187) 0%, rgba(0,92,255,1) 100%);
        }
    }
    &.is-rounded {
        border-radius: $radius-rounded;
    }
}

.shadow-inset {
   -moz-box-shadow:    inset 0 0 20px #ccc;
   -webkit-box-shadow: inset 0 0 20px #ccc;
   box-shadow:         inset 0 0 20px #ccc;
}

.shadow-inset-dark-light {
   -moz-box-shadow:    inset 0 0 20px rgba(0,0,0,0.5);
   -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
   box-shadow:         inset 0 0 20px rgba(0,0,0,0.5);
}

.shadow-inset-dark {
   -moz-box-shadow:    inset 0 0 20px #111;
   -webkit-box-shadow: inset 0 0 20px #111;
   box-shadow:         inset 0 0 20px #111;
}

.map-container {
    position: relative;
    overflow: hidden;
    // width: 500px;
    // height: 400px;
}
.map-container:before, .map-container:after, .map:before, .map:after {
    position: absolute;
    display: block;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    content: '';
    z-index: 5;
}
.map-container:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map-container:after {
    right: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
.map:before{
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}
.map:after{
    left: -5px;
    top: 0;
    bottom: 0;
    width: 5px;
}
#map {
    width: inherit;
    height: inherit;
}


// Sticky Footer
.sticky {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.sticky-content {
  flex: 1;
}

// Carousel
.is-active .al img {
    filter: grayscale(0%);
}
.al img {
    filter: grayscale(100%);
}


.box-translucent {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: #333;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    // max-width: 50%;
    padding: 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .box-translucent {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}

// body {
//   background-image: url('https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   margin: 0;
//   display: grid;
//   place-items: center;
// }
