// Body
$body-bg: #f8fafc;

// Typography
$family-sans-serif: "Barlow Medium", sans-serif;
$font-size-base: 0.6rem;
$line-height-base: 1.6;
$size-5: 1.1rem;
$size-6: 0.9rem;
$size-7: 0.65rem;

// Colors
// $coolBlue: #008AFF;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
$mirage: #191B22;
$blackRussian: #23252C;

$entel-primary: #005cff;
$entel-primary-corp: #10069f;
$entel-secondary: #ff3d00;
$entel-secondary-corp: #cccccc;
$entel-eco: #42E8B4;
$entel-smart: #2FCBF1;
$entel-positive: #FD6C9B;

// $link: $entel-primary;
$danger: $entel-secondary;
// $info: $entel-primary;

// $black-ter: $mirage;
// $dark: $blackRussian;
$input-placeholder-color: #7a7a7a;



// Background image
.hero.has-background {
	position: relative;
	overflow: hidden;
}
.hero-background {
	position: absolute;
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 100%;
}
.hero-background.is-transparent {
	opacity: 0.6;
}

// Image centered
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

// Navbar centered
.navbar-item.navbar-center {
    flex-grow: 1;
    // flex-direction: column;
    justify-content: center;
}

// font awesome size
.fa-2x {
	font-size: 1.5rem;
}

// hidden mobile
@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
	.height-40 {
		max-width: 30px;
		margin-left: 10px;
	}
}

// transparent navbar
.navbar {
	&.is-transparent {
		background-color: transparent;
		background-image: none;
	}
}

.hero .hero-top {
    margin-top: 0px;
}


.shadow-inset {
   -moz-box-shadow:    inset 0 0 20px #ccc;
   -webkit-box-shadow: inset 0 0 20px #ccc;
   box-shadow:         inset 0 0 20px #ccc;
}
