// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

// Typography
$family-sans-serif: "Barlow Medium", sans-serif;
$font-size-base: 0.6rem;
$line-height-base: 1.6;
$size-1: 2.9rem;
$size-2: 2.4rem;
$size-3: 1.9rem;
$size-4: 1.4rem;
$size-5: 1.15rem;
$size-6: 0.9rem;
$size-7: 0.65rem;



// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Variables
@import 'variables';

// Bulma
@import 'bulma';
// @import 'bulma-checkradio';
// @import 'bulma-switch';
@import 'bulma-quickview';
// @import 'bulma-badge';
// @import 'bulma-timeline';
@import 'bulma-divider';

@import 'buefy/src/scss/buefy';