
// Typography
$family-sans-serif: "Barlow", sans-serif;
$font-size-base: 0.6rem;
$line-height-base: 1.6;
$size-1: 2.8rem;
$size-2: 2.3rem;
$size-3: 1.8rem;
$size-4: 1.3rem;
$size-5: 1.05rem;
$size-6: 0.8rem;
$size-7: 0.60rem;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Variables
@import 'variables';

// Bulma
@import 'bulma';
// @import 'bulma-checkradio';
// @import 'bulma-switch';
@import 'bulma-quickview';
// @import 'bulma-badge';
@import 'bulma-timeline';
@import 'bulma-divider';

@import 'buefy/src/scss/buefy';